<div class="container">
  <h3 class="d-flex justify-content-center mt-5">URL Shortener</h3>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="shortURL"
    class="rounded mx-auto d-block mt-3" width="100rm">

  <div class="col">
    <form action="/success" method="post" class="justify-content-center">
      <div>
        <input type="url" class="col-4" placeholder="Enter your URL..." name="url"
          style="border: none; background-color:#dedede; border-radius:3px;">
      </div>
      <div>
        <button style="display:inline;" class="btn btn-outline-primary col-2" width="30">Shorten</button>
      </div>
    </form>

  </div>
</div>